.list{
  padding: 0;
  list-style: none;
}
.list-item-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  max-width: 400px;
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
}
.list-item-container>*{
  flex-grow: 0.5;
}
.event{
  margin-left: auto;
}
.data-event{
  text-align: right;
}
.inner-event{
  display: inline-block;
  text-align: center;
}